<div class="container">
  <h1>How it works</h1>
  <ul>
    <li>Access your dashboard </li>
    <li>Create your portfolio </li>
    <li>Search and Add coins to your portfolio </li>
    <li>Then create your transactions </li>
  </ul>
  <strong> Data provided by </strong>
  <%=image_tag "https://static.coingecko.com/s/coingecko-branding-guide-8447de673439420efa0ab1e0e03a1f8b0137270fbc9c0b7c086ee284bd417fa1.png", class: 'brand'%>
</div>
